.tudo{
	width: 100%;
	height: 500vh;
	background-color: white;
}
.metade1{
	width: 100%;
	height: 40vh;
	background-color: #F5F5F5;
}
.metade1-5{
	display: flex;
	width: 100%;
	height: 8vh;
	background-color: white;
}
.metade1-7{
	width: 100%;
	height: 80%;
	background-color: #F5F5F5;
}
.metade2{
	display: flex;
	width: 100%;
	height: 75vh;
	background-color: white;
}
.metade2-5{
	width: 65%;
	height: 100vh;
	background-color: white;
}.metade2-7{
	width: 35%;
	height: 100vh;
	background-color: #B0C4DE;
}
.barra_esquerda{
	width:50%;
	height: 100%;
	background-color: #F5F5F5; 
}
.barra_direita{
	width:50%;
	height: 100%;
	background-color: #F5F5F5; 
}
.barra_grande{
	padding-right: 446px;
	margin-left: 50px;
	width: 70%;
	height: 90%;
	background-color: #77BDB6;
}
.logo_site{
	margin-top: 25px;
	margin-left: 50px;
	width: 50%;
	height: 30%;
	background-color: #CCCCCC;
}
.menu_icones{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-left: 400px;
	margin-right: 50px; 
	width: 50%;
	height: 45%;
	background-color: #F5F5F5;
}
.icone1{
	margin-left: 304px;
	width: 9%;
	height: 100%;
	background-color: #CCCCCC;
}
.icone2{
	margin-left: 20px;
	width: 9%;
	height: 100%;
	background-color: #CCCCCC;
}
.icone3{
	margin-left: 20px;
	width: 9%;
	height: 100%;
	background-color: #CCCCCC;
}
.part-cima{
	display: flex;
	width:100%;
	height: 50%;
	background-color: white;
}
.part-baixo{
	display: flex;
	width:100%;
	height: 50%;
	background-color: white;
}
.part1{
	width: 50%;
	height: 100%;
	background-color: white;
}
.part2{
	width: 50%;
	height: 100%;
	background-color: white;
}
.part3{
	width: 50%;
	height: 100%;
	background-color: white;
}
.part4{
	width: 50%;
	height: 100%;
	background-color: white;
}
.quadrado1{
	width: 70%;
	height: 30vh;
	background-color: #E9967A;
	margin-left: 80px;
	margin-top: 40px;
}
.quadrado2{
	width: 70%;
	height: 30vh;
	background-color: #E9967A;
	margin-left: 80px;
	margin-top: 40px;
}
.quadrado3{
	width: 70%;
	height: 30vh;
	background-color: #E9967A;
	margin-left: 80px;
	margin-top: 40px;
}
.quadrado4{
	width: 70%;
	height: 30vh;
	background-color: #E9967A;
	margin-left: 80px;
	margin-top: 40px;
}
.texto_q1{
	width: 80%;
	height: 10vh;
	background-color: white;
	margin-left: 55px;
	margin-top: 15px;
}
.texto_q2{
	width: 80%;
	height: 10vh;
	background-color: white;
	margin-left: 55px;
	margin-top: 15px;
}
.texto_q3{
	width: 80%;
	height: 10vh;
	background-color: white;
	margin-left: 55px;
	margin-top: 15px;
}
.texto_q4{
	width: 80%;
	height: 10vh;
	background-color: white;
	margin-left: 55px;
	margin-top: 15px;
}
.text_q1{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 50px;
}
.text_q2{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 25px;
}
.text_q3{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 50px;
}
.text_q4{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 25px;
}
.text_q5{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 50px;
}
.text_q6{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 25px;
}
.text_q7{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 50px;
}
.text_q8{
	width: 100%;
	height: 2.5vh;
	background-color: #CCCCCC;
	margin-top: 25px;
}